body {
    margin: 0%;
    padding: 0%;
    color: #5b687b;
    font-family: 'Inter', sans-serif;
}
.container {
    width: 100;
    margin: auto;
}
.mb {
margin-bottom: 50px;
display: flex;
padding: 20px;
background-color: khaki;
}
.navbar-logo {
    height: 56px;
    padding: 4px 0px;
    
}
.nav-link {
    display: flex;
    flex-direction: row;
    justify-content: end;

}
.navbar-link{
    text-decoration: none;
    color: black;
}
.navbar-element{
    display: inline;
    padding: 4px;
    margin-right: 10px;
    
}
.pic-header {
    width: 25%;
    border-radius: 50%;
    border: 5px solid #dee0e4;
}
.header-container{
    display: inline;
     position: absolute;
      padding: 15px 50px 15px;
}