.navbar-container{
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
padding: 0px 24px 0px 24px;

}
.navbar-logo{
    width: 80px;     

}
.navbar-links{
    display: flex;
    list-style: none;
    padding-left: 0%;
    align-items: center ;
    width: 200px;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.navbar-link-item{
    text-decoration: none;
    color: #4b5ebe;
}

.navbar-link-item:hover {
    color: black;
}
.header-background {
  /* background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;*/
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
}
.header-container {
    display: flex;
    padding: 20px 0px 20px 0px;
    width: 100%;

}
.header-content {
    padding-left: 2rem;
}
.header-title {
    color:  #005256;
}
.header-story {
    color:  #00e7f3;
}
.header-name {
    color:  #a1abdd;
}
.avatar-header {
    height: 250px;
    border-radius:50% ;
    border: 5px solid #2ebf91 ;
}
.avatar-container {
    padding: 0px 24px 0px 24px;
}
.header-button {
    text-decoration: none;
    padding: 10px 24px 10px 24px;
    border: 0px;
    border-radius: 5%;
    background-color:#4b5ebe ;
    color: white;
    text-align:center;
}
.about-container {
    padding: 0px 24px 0px 24px;
}
.about-text {
    padding-left: auto;
    padding-right: auto;
    color:#000 ;
}
.section-skill-container {
    background-color: #f9f9fa;
    padding-top:5rem ;
    padding-bottom: 5rem;
}
.skills-list-container{
    position: relative;
    margin:0 ;
padding:0 1.5rem ;
    
}
.intro-skill{
    text-align: center;
    margin-bottom: 3rem;
}
.intro-title{
    margin-bottom: 16px;
    margin-top: 0px;
    letter-spacing: -.02em;
    font-weight: 700;
    color: #4b5ebe;
}
.intro-text{
    max-width: 30em;
    margin-left: 46px;
    margin-right: 46px;
    color: #4a5568;
    margin-top: 0px;
    margin-bottom: 0px;
}
.skill-list{
    display: grid;
    grid-template-columns: minmax(250px,520px);
    list-style: none;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;

    
}
.skills-title{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    color: #333c66;
    line-height: 1;
    letter-spacing: -.02em;
    margin-top: 0px;

}
.skills-title-content{

}
.skills-date{
    font-size: 1.125rem;
    color: #5b687b;
    line-height: 1.5;
    font-weight: 400;
}
.skills-date::before{
    content: "\2022";
    color: #a0aec0;
    margin-left: 0.5rem;
    font-weight: 400;

}
.tec-icon{
    width: 20px;
    margin-right: 16px;
}
.skills-text{
    margin-bottom: 1rem;
    font-size: 1.125rem;
    color: #5b687b;
    line-height: 1.5;
    margin-top: 0px;
}
.skills-labels{
    display: flex;
    overflow: hidden;
    list-style: none;
    padding-left: 0px;
}
.skills-tag1{
    display: inline-block;
    padding: 4.900px 8.400px 4.900px 8.400px;
    border-radius: .25px solid 1px #000;
    background-color: rgba(51, 61, 102,.07);
    line-height: 1;
    white-space: nowrap;
    font-weight: 400;
    font-size: .875rem; 
    color:rgba(51, 61, 102, .8);
}
.skills-tags{
    margin-left: .5rem;
    display: inline-block;
    padding: 4.900px 8.400px 4.900px 8.400px;
    border-radius: .25px solid 1px #000;
    background-color: rgba(51, 61, 102,.07);
    line-height: 1;
    white-space: nowrap;
    font-weight: 400;
    font-size: .875rem; 
    color:rgba(51, 61, 102, .8);
}
}